.sideBarContainer {
  @apply flex flex-col gap-4 fixed left-0 top-[7vh] overflow-y-scroll px-5 pb-[14vh] pt-8 bg-gray-800 w-64 h-full duration-150 animate-showSideBar;

  .chapter {
    @apply text-base font-bold;
  }

  .linksContainer {
    @apply flex flex-col gap-2 text-sm;
  }
}

.sideBarContainer::-webkit-scrollbar {
  width: 8px;
}

.sideBarContainer::-webkit-scrollbar-track {
  background: rgb(17 24 39 / 1);
}

.sideBarContainer::-webkit-scrollbar-thumb {
  background-color: rgb(38, 50, 67);
}
